src/main/mule/password-manager-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="password-manager-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="password-manager-api-config" api="password-manager-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="password-manager-api-main">
        <http:listener config-ref="password-manager-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[attributes.method]" doc:name="Set Variable" doc:id="2ffc85fd-2281-4fcb-8a2e-dfd9badbff5c" variableName="method"/>
		<apikit:router config-ref="password-manager-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="528242d1-40ef-45fb-8934-0954837ebc05" type="OS:KEY_ALREADY_EXISTS">
				<ee:transform doc:name="Transform Message" doc:id="0beaffcb-8bc8-453b-9c8a-f34ddb2caf40" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status: 409,
	message: "Internal server error"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[409]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b9ba9daf-52d8-43bb-b6bc-da4e0daa741e" >
				<ee:transform doc:name="Transform Message" doc:id="bf9e912f-1d28-4269-9e0f-036a1afc670d">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	status: 500,
	message: "Internal server error"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\passwords\(title):password-manager-api-config">
		<flow-ref doc:name="Delete Password Flow" doc:id="7269356d-5a79-4632-85cf-2d0bc1bb38e6" name="deletePasswordFlow"/>
    </flow>
    <flow name="put:\passwords\(title):application\json:password-manager-api-config">
		<flow-ref doc:name="Update Password Flow" doc:id="6cc5d093-8300-4497-bfeb-499bd7eba218" name="updatePasswordFlow"/>
    </flow>
    <flow name="get:\database:password-manager-api-config">
		<flow-ref doc:name="Backup Database" doc:id="e546ea77-e30c-4ff4-8cec-af3b9bb4fb95" name="backupDatabase"/>
    </flow>
    <flow name="get:\passwords:password-manager-api-config">
		<flow-ref doc:name="Get All Passwords Flow" doc:id="1340f8e2-f2b9-4029-8a93-c22c5d36ac65" name="getAllPasswordsFlow"/>
    </flow>
    <flow name="get:\passwords\(title):password-manager-api-config">
		<flow-ref doc:name="Get Password Flow" doc:id="8204dc7f-5ecf-4b33-a508-4b576874b770" name="getPasswordFlow"/>
    </flow>
    <flow name="post:\database:application\octet-stream:password-manager-api-config">
		<flow-ref doc:name="Restore Database Flow" doc:id="2c0fe454-934b-4920-b78e-b33b7613c3ed" name="restoreDatabase"/>
    </flow>
    <flow name="post:\passwords:application\json:password-manager-api-config">
		<flow-ref doc:name="Add Password Flow" doc:id="128f5feb-fb30-4e06-be1f-08d2f9df2535" name="addPasswordFlow"/>
    </flow>
	<flow name="get:\sync:application\json:password-manager-api-config" doc:id="2fc568c7-e51c-4910-93bc-98d7f24e6cee" >
		<flow-ref doc:name="Sync To File Flow" doc:id="155f77f2-ba64-44d9-9f32-4f0baa7ecd74" name="syncToFileFlow" />
		<ee:transform doc:name="Set response" doc:id="c8bb0e11-60f8-4d0d-82e9-a38e5f5465dd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status: 200,
	message: "Success."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
